/* Base styles */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');

:root {
    --orange-color: #F66437;
    --blue-color: #6899D8;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    background-repeat: no-repeat;
}

main {
    overflow: hidden;
}

input {
    width: 100%;
}

button,
input,
textarea,
select,
option {
    outline: none;
    border: none;
    cursor: pointer;
    background: none;
}

a {
    text-decoration: none;
    color: inherit;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
}

li {
    list-style: none;
}

span {
    font-family: inherit;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 30px;
}

.right-container {
    max-width: 1670px;
    margin: 0 0 0 auto;
    padding-left: 30px;
}

@media(max-width: 479px) {
    .container {
        padding: 0 20px;
    }
    .right-container {
        padding-left: 20px;
    }
}

/* COMMON STYLES */

.click-btn {
    border-radius: 4px;
    padding: 22px 0;
    font-size: 18px;
    font-weight: 700;
    line-height: 139.9%;
    -webkit-transition: .4s all;
    -o-transition: .4s all;
    transition: .4s all;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}

.orange-border-btn {
    outline: 2px solid var(--orange-color);
    color: var(--orange-color);
}

.orange-border-btn:hover,
.orange-border-btn.active {
    background:  var(--orange-color);
    color: #fff;
}

.orange-btn {
    background: var(--orange-color);
    color: #ffffff;
}

.orange-btn:hover,
.orange-btn.active {
    background: #FF8A65;
}

.play-btn {
    width: 70px;
    height: 70px;
    border-radius: 4px;
    outline: 2px solid #ffffff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-transition: .4s all;
    -o-transition: .4s all;
    transition: .4s all;
}

.play-btn__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 15px;
}

.play-btn__text {
    font-size: 16px;
    font-weight: 400;
    line-height: calc(24 / 16 * 100%);
    color: #ffffff;
    text-align: left;
}

.play-btn * {
    -webkit-transition: .4s all;
    -o-transition: .4s all;
    transition: .4s all;
}

.play-btn:hover {
    outline: 2px solid var(--orange-color);
}

.play-btn:hover path {
    stroke: var(--orange-color);
}

.btn-blue {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background: rgba(104, 153, 216, .7);
    -webkit-transition: .4s all;
    -o-transition: .4s all;
    transition: .4s all;
    cursor: pointer;
}

.btn-blue:hover {
    background: rgba(104, 153, 216, 1);
}

@media(max-width: 767px) {
    .play-btn__text {
        display: none;
    }
}

@media(max-width: 479px) {
    .play-btn__text {
        display: block;
    }
    .play-btn {
        width: 50px;
        height: 50px;
    }
    .play-btn svg {
        width: 28px;
        height: 26px;
    }
}

/* SUB HEADER */

.sub__header {
    padding: 13px 0;
    background: #3C4149;
    width: 100%;
}

.sub__header-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
}

.sub__header-list-item {
    font-size: 16px;
    font-weight: 400;
    line-height: calc(24 / 16 * 100%);
    color: #ffffff;

    -webkit-transition: .3s all;

    -o-transition: .3s all;

    transition: .3s all;
}

.sub__header-list-item:hover {
    color: var(--blue-color);
}

/* PROMO SECTION */

.promo {
    position: relative;
    padding-top: 100px;
    margin-bottom: 244px;
    background: url(../img/promo/bg.png) center / cover no-repeat;
}

.promo__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
}

.promo__title {
    font-size: 85px;
    font-weight: 600;
    line-height: calc(93.5 / 85 * 100%);
    letter-spacing: 0.01em;
    color: #ffffff;
    margin-bottom: 20px;
}

.promo__subtitle {
    font-size: 22px;
    font-weight: 400;
    line-height: calc(33 / 22 * 100%);
    color: #ffffff;
    margin-bottom: 40px;
}

.promo__btns {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    gap: 30px;
    margin-bottom: 50px;
}

.promo__btn {
    padding-right: 56px;
    padding-left: 56px;
}

.promo-arrow {
    position: absolute;
    z-index: 5;
    bottom: -20px;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
}

.promo__laptop {
    max-width: 100%;
}

@media(max-width: 1439px) {
    .promo {
        margin-bottom: 206px;
    }
    .promo__title {
        font-size: 72px;
    }
    .promo__btns {
        gap: 40px;
    }
}

@media(max-width: 999px) {
    .promo {
        margin-bottom: 180px;
        padding-top: 80px;
    }
    .promo__title {
        font-size: 52px;
    }
}

@media(max-width: 767px) {
    .promo {
        margin-bottom: 100px;
        background-position: left bottom;
    }
    .promo__wrapper {
        padding: 0 20px;
    }
    .promo__title {
        font-size: 48px;
    }
    .promo__subtitle {
        font-size: 20px;
    }
    .promo__btns {
        gap: 20px;
    }
}

@media(max-width: 479px) {
    .promo {
        margin-bottom: 90px;
    }
    .promo__title {
        font-size: 36px;
    }
    .promo__btns {
        width: 100%;
        gap: 20px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .promo__btn {
        padding-right: 0;
        padding-left: 0;
        width: 100%;
    }
}


/* VIDEO OVERLAY */

.overlay {
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .8);

    pointer-events: none;
    opacity: 0;
    -webkit-transition: .4s all;
    -o-transition: .4s all;
    transition: .4s all;
}

.overlay.active {
    opacity: 1;
    pointer-events: all;
    z-index: 10;
}

.overlay-close {
    width: 40px;
    height: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: fixed;
    right: 20px;
    top: 20px;
}

.video {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}

.video-player {
    height: 85vh;
    max-width: 95vw;
}

.video__control {
    padding: 0 124px 0 44px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 80px;
    width: 100%;
    position: absolute;
    bottom: 43px;
    left: 0;
    z-index: 4;
}

.video__btn {
    width: 50px;
    height: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.video__btn .video-pause {
    display: none;
}

.video__btn.active .video-pause {
    display: block;
}

.video__btn.active .video-play {
    display: none;
}

.video__btn img {
    max-width: 100%;
}

.video-input {
    height: 7px;
    border-radius: 7px;
    background: #FFFFFF;
    opacity: 0.2;
}

@media(max-width: 767px) {
    .video__control {
        padding: 0 20px;
        gap: 40px;
        bottom: auto;
        top: calc(100% + 20px);
    }
    .video-player {
        width: 95vw;
        height: auto;
    }
}

/* STEPS SECTION */

.steps {
    margin-bottom: 227px;
}

.steps__wrapper {
    max-width: 1691px;
}

.step {
    position: relative;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}

.step::after {
    content: "";
    position: absolute;
    z-index: -1;
    background: #E7E0E0F2;
    -webkit-transition: .4s all;
    -o-transition: .4s all;
    transition: .4s all;
}

.step::before {
    position: absolute;
    z-index: 0;
}

.step.active::after {
    background: #BFD8F0;
} 

.step path {
    fill: #BDBDBD;
    -webkit-transition: .4s all;
    -o-transition: .4s all;
    transition: .4s all;
}

.step.active path {
    fill: #333333;
}

/* step 1 */

.step-1 {
    padding-right: 75px;
    margin-bottom: 103px;
    margin-left: auto;
}

.step-1::after {
    width: 1101px;
    height: 118px;
    bottom: -38px;
    right: 0;
}

.step-1-img {
    position: absolute;
    top: -126px;
    right: calc(100% + 18px);
}

/* step 2 */

.step-2 {
    margin: 0 auto;
    margin-bottom: 98px;
}

.step-2::after {
    width: 1037px;
    height: 81px;
    top: 54px;
    right: 35%;
}

.step-2-signature {
    position: absolute;
    z-index: 2;
    right: 25px;
    bottom: -21px;
    font-size: 21px;
    font-weight: 500;
    line-height: calc(29 / 21 * 100%);
    color: #ffffff;
    padding: 7px 22.5px;
    border-radius: 24px;
    background: var(--orange-color);
}

.step-2-circles {
    position: absolute;
    left: calc(100% + 18px);
    top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 17px;
}

.step-2-circles span {
    border-radius: 50%;
    background: var(--orange-color);
}

.step-2-circles span:nth-child(1) {
    width: 33px;
    height: 33px;
}
.step-2-circles span:nth-child(2) {
    width: 24px;
    height: 24px;
}
.step-2-circles span:nth-child(3) {
    width: 12px;
    height: 12px;
}

/* step 3 */

.step-3 {
    margin-left: auto;
    padding-right: 24%;
}

.step-3::after {
    width: 854px;
    height: 138px;
    right: 17px;
    bottom: -87px;
}

.step-3-img {
    position: absolute;
    right: 42px;
    top: 0;
}

@media(max-width: 1439px) {
    .steps {
        margin-bottom: 180px;
    }
    .steps__wrapper {
        max-width: 100%;
    }
    .step {
        width: 100%;
    }
    .step svg {
        display: block;
        width: auto;
    }
    .step-1 {
        padding-right: 0;
        margin-bottom: 82px;
    }
    .step-1 svg {
        margin: 0 51px 0 auto;
        height: 118px;
    }
    .step-1::after {
        bottom: -25px;
        height: 80px;
        width: calc(749 / 1000 * 100%);
    }
    .step-1-img {
        right: auto;
        left: 5%;
        width: 288px;
        top: -80px;
    }
    .step-2 {
        margin-left: 0;
        margin-bottom: 83px;
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
    }
    .step-2 svg {
        margin: 0 0 0 31px;
        height: 94px;
    }
    .step-2::after {
        top: 37px;
        left: 20px;
        right: auto;
        height: 55px;
        width: 80%;
    }
    .step-2-signature {
        right: 51px;
        bottom: -14px;
        padding: 4px 15px;
        font-size: 14px;
    }
    .step-2-circles {
        gap: 11px;
    }

    .step-2-circles span:nth-child(1) {
        width: 22px;
        height: 22px;
    }
    .step-2-circles span:nth-child(2) {
        width: 16px;
        height: 16px;
    }
    .step-2-circles span:nth-child(3) {
        width: 8px;
        height: 8px;
    }
    .step-3 svg {
        margin: 0 auto;
        height: 123px;
    }
    .step-3::after {
        height: 93px;
        width: 60%;
        right: 12px;
        bottom: -60px;
    }
    .step-3-img {
        width: 260px;
        right: 28px;
    }
}

@media(max-width: 999px) {
    .steps {
        margin-bottom: 163px;
    }
    .step {
        margin-bottom: 60px;
    }
    .step-1 svg {
        margin: 0 69px 0 auto;
        height: 85px;
    }
    .step-1::after {
        right: 32px;
        bottom: -18px;
        height: 58px;
        width: calc(543 / 768 * 100%);
    }
    .step-1-img {
        left: 8%;
        width: 193px;
        top: -62px;
    }
    .step-2 svg {
        height: 67px;
    }
    .step-2::after {
        top: auto;
        bottom: 0;
        left: 0;
        height: 40px;
        width: 75%;
    }
    .step-2-signature {
        right: 36px;
        bottom: -10px;
        padding: 4px 11px;
        font-size: 10px;
    }
    .step-2-circles {
        gap: 8px;
    }

    .step-2-circles span:nth-child(1) {
        width: 16px;
        height: 16px;
    }
    .step-2-circles span:nth-child(2) {
        width: 12px;
        height: 12px;
    }
    .step-2-circles span:nth-child(3) {
        width: 6px;
        height: 6px;
    }
    .step-3 svg {
        height: 89px;
    }
    .step-3::after {
        height: 68px;
        width: 50%;
        right: 40px;
        bottom: -43px;
    }
    .step-3-img {
        width: 188px;
        right: 52px;
    }
}

@media(max-width: 767px) {
    .steps {
        margin-bottom: 107px;
    }
    .step {
        margin-bottom: 50px;
    }
    .step-1 svg {
        margin: 0 43px 0 auto;
        height: 53px;
    }
    .step-1::after {
        right: 20px;
        bottom: -11px;
        height: 36px;
    }
    .step-1-img {
        left: 6%;
        width: 130px;
        top: -38px;
    }
    .step-2 svg {
        height: 42px;
    }
    .step-2::after {
        height: 24px;
    }
    .step-2-signature {
        right: 29px;
        bottom: -6px;
        padding: 2px 6px;
        font-size: 6px;
    }
    .step-2-circles {
        gap: 5px;
        left: calc(100% + 6px);
    }

    .step-2-circles span:nth-child(1) {
        width: 10px;
        height: 10px;
    }
    .step-2-circles span:nth-child(2) {
        width: 7px;
        height: 7px;
    }
    .step-2-circles span:nth-child(3) {
        width: 3.5px;
        height: 3.5px;
    }
    .step-3 svg {
        height: 55px;
    }
    .step-3::after {
        height: 42px;
        right: 25px;
        bottom: -27px;
        width: 60%;
    }
    .step-3-img {
        width: 115px;
        right: 32px;
    }
}


@media(max-width: 479px) {
    .steps {
        margin-bottom: 104px;
    }
    .step {
        margin-bottom: 38px;
    }
    .step-1 svg {
        margin: 0 27px 0 auto;
        height: 40px;
    }
    .step-1::after {
        right: 10px;
        bottom: -8px;
        height: 27px;
    }
    .step-1-img {
        width: 100px;
        top: -29px;
    }
    .step-2 svg {
        margin-left: 18px;
        height: 32px;
    }
    .step-2::after {
        height: 18px;
    }
    .step-2-signature {
        right: 22px;
        bottom: -4px;
        padding: 2px 4px;
        font-size: 4px;
    }
    .step-2-circles {
        gap: 4px;
        left: calc(100% + 6px);
    }
    .step-2-circles span:nth-child(1) {
        width: 7px;
        height: 7px;
    }
    .step-2-circles span:nth-child(2) {
        width: 5px;
        height: 5px;
    }
    .step-3 svg {
        height: 42px;
    }
    .step-3::after {
        height: 32px;
        right: 14px;
        bottom: -21px;
    }
    .step-3-img {
        width: 85px;
        right: 20px;
    }
}

/* INFO SECTION */

.info {
    position: relative;
    z-index: 1;
    padding: 143px 0 106px;
    background: url(../img/info/bg.png)
    center top / cover no-repeat;
}

.info__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 20px;
}

.info__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
}

.info__block:nth-child(1) {
    width: calc(657 / 1380 * 100%);
}

.info__block:nth-child(2) {
    width: calc(702 / 1380 * 100%);
}

.info__block-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 20px;
}

.info__card {
    border-radius: 20px;
    padding: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 15px;
    position: relative;
    overflow: hidden;
}

.info__block:nth-child(1) .info__card:nth-child(1) {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
}

.info__block:nth-child(1) .info__card:nth-child(1) .info__card-bg {
    right: 0;
    bottom: 0;
}

.info__block:nth-child(1) .info__card:nth-child(2) {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.info__block:nth-child(1) .info__card:nth-child(2) .info__card-content {
    max-width: 60%;
}

.info__block:nth-child(2) > .info__card .info__card-content {
    max-width: 77%;
}

.info__block:nth-child(1) .info__card:nth-child(2) .info__card-bg {
    right: 0;
    top: 50px;
}

.info__block:nth-child(2) > .info__card {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.info__card.white {
    background: #ffffff;
    border: 1.72px solid #FFFFFF;
    -webkit-box-shadow: 0px 8px 16px 0px #3232470F,
    0px 0px 8px 0px #32324721;
            box-shadow: 0px 8px 16px 0px #3232470F,
    0px 0px 8px 0px #32324721;
    color: #000000;
}

.info__card.white:hover {
    background: -o-linear-gradient(171.01deg, #FFFFFF -6.66%, #BBBBBB 115.66%);
    background: linear-gradient(278.99deg, #FFFFFF -6.66%, #BBBBBB 115.66%);
}

.info__card.black {
    background: #2E2E33;
    -webkit-box-shadow: 0px 3px 9px 0px #0000002B;
            box-shadow: 0px 3px 9px 0px #0000002B;
    border: 1px solid #000000;
    color: #ffffff;
}

.info__card.black:hover {
    background: -o-linear-gradient(343.18deg, #454557 3.44%, #2E2E35 73.85%);
    background: linear-gradient(106.82deg, #454557 3.44%, #2E2E35 73.85%);
}

.info__card.download {
    display: block;
    padding: 23px 8px;
    min-width: 174px;
}

.info__card.download img {
    width: 100%;
}

.info__card {
    position: relative;
}

.info__card-content {
    position: relative;
    z-index: 1;
}

.info__card-title {
    font-size: 20px;
    font-weight: 700;
    line-height: calc(28.2 / 20 * 100%);
    margin-bottom: 13px;
}

.info__card-text {
    font-size: 16px;
    font-weight: 400;
    line-height: calc(24 / 16 * 100%);
}

.info__card-bg {
    position: absolute;
}

.info__card__imgs {
    position: relative;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 4px;
    gap: 12px;
}

.bottom-left {
    margin: 0 0 -86px -84px;
}

.bottom-right {
    margin-bottom: -39px;
}

.info__card-signature {
    position: absolute;
    right: 40px;
    bottom: 0;
    border-radius: 52px;
    background: var(--orange-color);
    font-size: 16px;
    font-weight: 400;
    line-height: calc(24 / 16 * 100%);
    padding: 8px 19px;
}

@media(max-width: 1439px) {
    .info {
        padding: 144px 0 120px;
    }
    .info__wrapper {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .info__block {
        width: 100% !important;
    }
    .info__block:nth-child(1) .info__card:nth-child(1) {
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
    }

    .info__block:nth-child(1) .info__card:nth-child(1) .info__card-content {
        margin-top: 34px;
    }
    .info__card__imgs {
        -webkit-box-pack: end;
            -ms-flex-pack: end;
                justify-content: flex-end;
        padding-right: 30px;
    }
}

@media(max-width: 999px) {
    .info {
        padding: 123px 0 106px;
        background: url(../img/info/bg.png)
        left top / cover no-repeat;
    }
}

@media(max-width: 767px) {
    .info {
        background-image: url(../img/info/bg-mobile.png);
        padding-top: 96px;
        padding-bottom: 70px;
    }
    .info__card {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: start !important;
            -ms-flex-align: start !important;
                align-items: flex-start !important;
    }
    .info__card-content {
        max-width: 100% !important;
        margin-top: 0 !important; 
    }
    .info__card-icon {
        -webkit-box-ordinal-group: 0;
            -ms-flex-order: -1;
                order: -1;
    }
    .info__block:nth-child(1) .info__card:nth-child(2) .info__card-bg {
        right: -145px;
        top: auto;
        bottom: -25px;
    }
    .info__block-wrap {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .info__card.download img {
        display: block;
        margin: 0 auto;
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
    }
    .bottom-left {
        margin: 59px 0 -31px -268px;
    }
    .info__card-signature {
        right: 40%;
    }
}

@media(max-width: 479px) {
    .info {
        padding: 80px 0 60px;
    }
    .info__card-title {
        font-size: 18px;
    }
    .info__card-icon {
        max-width: 55%;
    }
    .info__card-signature {
        right: 48%;
    }
}

/* FREE SECTION */

.free {
    position: relative;
    overflow: hidden;
    padding: 40px 0 55px;
    margin-top: -40px;
    margin-bottom: 160px;
    background: -webkit-gradient(linear, left top, right top, from(#12475B), to(#2697C1));
    background: -o-linear-gradient(left, #12475B 0%, #2697C1 100%);
    background: linear-gradient(90deg, #12475B 0%, #2697C1 100%);
}

.free-img-left {
    position: absolute;
    left: -102px;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
}

.free-img-right {
    position: absolute;
    right: -102px;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
}

.free__wrapper {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 30px;
    position: relative;
    z-index: 1;
}

.free__title-wrap {
    height: 114px;
}

.free__title {
    height: 114px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 20px;
    font-size: 68px;
    font-weight: 600;
    line-height: calc(75 / 68 * 100%);
    letter-spacing: 0.01em;
    color: #ffffff;
}

.free__title span {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
    color: #fbab4d;
    position: relative;
}

.free__title span::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 130%;
    height: 100%;
    background: url(../img/free/text-arrow.svg)
    left center / cover no-repeat;
}

.free__subtitle {
    margin-top: 13px;
    font-size: 31px;
    font-weight: 400;
    line-height: calc(37 / 31 * 100%);
    color: #ffffff;
    text-align: center;
}

@media(max-width: 1439px) {
    .free {
        margin-top: -80px;
        margin-bottom: 120px;
    }

    .free__title {
        font-size: 48px;
    }
    .free__title span::before {
        width: 165%;
        left: -10%;
    }
    .free__subtitle {
        margin-top: 0;
    }
    .free-img-left {
        left: -226px;
    }
    .free-img-right {
        right: -226px;
    }
}

@media(max-width: 999px) {
    .free__title {
        font-size: 38px;
        height: 77px;
    }
    .free__title span::before {
        left: -50%;
    }
    .free__subtitle {
        font-size: 24px;
    }
    .free-img-left {
        left: -240px;
    }
    .free-img-right {
        right: -240px;
    }
}

@media(max-width: 767px) {
    .free {
        margin-top: 0;
        padding: 30px 0;
        margin-bottom: 80px;
    }
    .free__title {
        height: auto;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        gap: 10px;
    }
    .free__title span::before {
        height: 64px;
        left: -30%;
    }
    .free__subtitle {
        margin-top: 20px;
    }
    .free-img-left {
        left: -340px;
    }
    .free-img-right {
        right: -340px;
    }
}

@media(max-width: 479px) {
    .free {
        padding: 40px 0;
        margin-bottom: 100px;
    }
    .free__title {
        font-size: 36px;
    }
    .free__subtitle {
        font-size: 20px;
        margin-top: 27px;
    }
    .free-img-left {
        left: -380px;
    }
    .free-img-right {
        right: -380px;
    }
}

/* POSSIBLE SECTION */

.possible { 
    padding-left: 30px;
    margin-bottom: 160px;
}

.possible__wrapper {
    margin: 0 0 0 auto;
    max-width: 1756px;
    border-radius: 25px 0 0 25px;
    background: rgb(45, 51, 57);
}

.possible__header {
    background-color: rgb(40, 45, 51);
    border-radius: 25px 0 0 0;
    padding: 80px 0 0 106px;
}

.possible-title {
    color: rgb(255, 255, 255);
    font-size: 68px;
    font-weight: 600;
    line-height: 110%;
    padding-bottom: 40px;
    border-bottom: 1px solid rgba(255, 255, 255, .5);
}

.possible__main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.possible__tabs__wrapper {
    width: 32%;
    padding-right: 5px;
}

.possible__tabs {
    position: relative;
    z-index: 5;
    padding: 0 0 67px 106px;
    margin-top: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 12px;
    padding-right: 10px;
}

.possible__main.desktop .possible__content-item {
    height: 100%;
}

.possible-item__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
    padding-right: 30px;
    margin-bottom: 40px;
}

.possible-tab {
    padding: 20px;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 600;
    line-height: 120%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 20px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    cursor: pointer;
}

.possible-tab__icon {
    width: 30px;
    height: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.possible-tab__icon img {
    max-width: 100%;
}

.possible-tab.active {
    border: 1px solid rgb(255, 255, 255);
    border-radius: 5px;
    background: -o-linear-gradient(315deg, rgb(51, 75, 98) 0%,rgb(40, 51, 62) 100%);
    background: linear-gradient(135.00deg, rgb(51, 75, 98) 0%,rgb(40, 51, 62) 100%);
}

.possible__content {
    padding: 40px 0 67px 100px;
    width: 70%;
    background: -o-linear-gradient(356.59deg, rgba(26, 30, 34, 0.39) 10.449%,rgba(0, 0, 0, 0) 87.202%);
    background: linear-gradient(93.41deg, rgba(26, 30, 34, 0.39) 10.449%,rgba(0, 0, 0, 0) 87.202%);
}

.possible__main.desktop .possible__content-item {
    max-width: 78%;
    display: none;
}

.possible__main.desktop .possible__content-item.active {
    display: block;
}

.possible-item__text {
    color: rgb(189, 189, 189);
    font-size: 20px;
    font-weight: 400;
    line-height: 150%;
}

.possible-item__img {
    max-width: 100%;
}

.possible-link {
    margin-top: 40px;
}

.possible__main.mobile {
    display: none;
}

@media(max-width: 1700px) {
    .possible__main.desktop .possible__content-item {
        max-width: 85%;
    }
}

@media(max-width: 1439px) {
    .possible {
        margin-top: 120px;
    }
    .possible-title {
        font-size: 60px;
    }
    .possible__main.desktop .possible__tabs__wrapper {
        width: 45%;
    }
    .possible-tab {
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .possible-tab br {
        display: none;
    }
    .possible__content {
        padding: 40px 30px 67px 60px;
    }
    .possible__content-item {
        max-width: 100%;
    }
    .possible__main.desktop .possible__content-item {
        max-width: 100%;
    }
}

@media(max-width: 999px) {
    .possible__main.mobile {
        display: block;
    }
    .possible__main.desktop {
        display: none;
    }
    .possible__tabs {
        margin-top: 0;
        gap: 0;
        padding: 0;
        width: 100%;
    }
    .possible-tab {
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        max-width: 100%;
        width: calc(100% - 100px);
        margin: 0 50px;
    }
    .possible__main {
        padding: 40px 0 20px;
    }
    .possible__content {
        display: none;
    }
    .trigger-arrow {
        display: block;
        margin: 0 0 0 auto;
        -webkit-transition: .4s all;
        -o-transition: .4s all;
        transition: .4s all;
    }
    .possible-tab.active .trigger-arrow {
        -webkit-transform: rotate(-180deg);
            -ms-transform: rotate(-180deg);
                transform: rotate(-180deg);
    }
    
    .possible__main.mobile .possible-item {
        margin-bottom: 12px;
        background:
        -o-linear-gradient(356.59deg, rgba(26, 30, 34, 0.39) 10.449%,
        rgba(0, 0, 0, 0) 87.202%);
        background:
        linear-gradient(93.41deg, rgba(26, 30, 34, 0.39) 10.449%,
        rgba(0, 0, 0, 0) 87.202%);
        height: 0;
        visibility: hidden;
        opacity: 0;
        padding: 0 50px;
        -webkit-transition: .6s all;
        -o-transition: .6s all;
        transition: .6s all;
    }
    .possible__main.mobile .possible-item.active {
        margin-top: 20px;
        padding: 40px 50px;
        opacity: 1;
        visibility: visible;
    }
    .possible__header {
        padding: 60px 0 0 50px;
    }
    .possible-title {
        font-size: 48px;
    }
    .possible__main.mobile .possible-item__text {
        padding-right: 0;
    }
}

@media(max-width: 767px) {
    .possible {
        margin-top: 100px;
    }
    .possible__header {
        padding: 60px 0 0 30px;
    }
    .possible-title {
        padding-bottom: 20px;
        font-size: 40px;
    }
    .possible-tab {
        width: calc(100% - 60px);
        margin: 0 30px;
    }
    .possible__main.mobile .possible-item {
        padding: 0 30px;
    }
    .possible__main.mobile .possible-item br {
        display: none;
    }
    .possible__main.mobile .possible-item.active {
        padding: 40px 30px;
    }
    .possible-item__text {
        font-size: 16px;
    }
}

@media(max-width: 479px) {
    .possible {
        padding: 0;
    }
    .possible__header {
        padding: 60px 0 0 20px;
    }
    .possible-title {
        padding-bottom: 20px;
        font-size: 28px;
    }
    .possible-tab {
        width: calc(100% - 40px);
        margin: 0 20px;
        padding: 10px 20px;
    }
    .possible__main.mobile .possible-item {
        padding: 0 20px;
    }
    .possible__main.mobile .possible-item.active {
        padding: 40px 20px;
    }
}

/* REVIEWS SECTION */

.reviews {
    margin-bottom: 160px;
}

.reviews__wrapper {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 25px;
}

.reviews__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 577px;
}

.reviews-title {
    font-size: 50px;
    font-weight: 600;
    line-height: 55px;
    letter-spacing: 0.01em;
}

.reviews-subtitle {
    margin-top: 20px;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.01em;
}

.reviews-btn {
    margin: auto 0 10px 0;
    padding-right: 60px;
    padding-left: 60px;
}

.swiper {
    padding: 10px 10px 20px 10px;
}

.reviews__item {
    padding: 30px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 8px 16px 0px rgba(50, 50, 71, 0.06),
    0px 0px 8px 0px rgba(50, 50, 71, 0.13);
            box-shadow: 0px 8px 16px 0px rgba(50, 50, 71, 0.06),
    0px 0px 8px 0px rgba(50, 50, 71, 0.13);
    background: rgb(255, 255, 255);
    width: 335px !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
}

.reviews__item-programs {
    font-size: 14px;
    font-weight: 600;
    line-height: 19.74px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.reviews__item-avatar {
    width: 80px;
    height: 80px;
    -o-object-fit: contain;
       object-fit: contain;
    border-radius: 50%;
}

.review__tasks {
    margin-bottom: 20px;
}

.reviews__item-company {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
}

.reviews__item-link,
.reviews__tasks-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.01em;
}

.reviews__item-link {
    color: rgba(104, 153, 216, 1);
}

.reviews__tasks-title {
    font-size: 16px;
    font-weight: 600;
    line-height: 17.6px;
    letter-spacing: 0.01em;
    color: #4F4F4F;
}

.reviews__tasks-text {
    color: #000000;
    margin-top: 10px;
}

.reviews__item-full {
    margin: auto 0 0 0;
    font-size: 18px;
    font-weight: 600;
    line-height: 21.6px;
    letter-spacing: 0.01em;
    color: #6899D8;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 6px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.reviews__item-full::after {
    content: "";
    width: 10px;
    height: 15px;
    background-image: url(../img/icons/link-arrow.svg);
    background-position: center;
    background-size: 10px;
    -webkit-transition: .3s all;
    -o-transition: .3s all;
    transition: .3s all;
}

.reviews__item-full:hover::after {
    margin-left: 5px;
}

.reviews-swiper {
    position: relative;
    padding: 10px !important;
}

.reviews-btn__next {
    position: absolute;
    z-index: 2;
    right: 280px;
    top: 48%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    rotate: -90deg;
}

.reviews-btn.mobile {
    display: none;
}

@media(max-width: 1600px) {
    .reviews-swiper {
        width: 80%;
    }
}

@media(max-width: 1439px) {
    .reviews {
        margin-bottom: 120px;
    }
    .reviews__wrapper {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        gap: 30px;
    }
    .reviews-swiper {
        margin-left: -10px !important;
        width: 100%;
    }
    .reviews__info .reviews-btn {
        display: none;
    }
    .reviews__info {
        height: auto !important;
        max-width: 80%;
    }
    .reviews-title {
        font-size: 36px;
        line-height: 39.6px;
    }
    .reviews-subtitle {
        font-size: 16px;
        line-height: 24px;
    }
    .reviews-swiper .reviews-btn {
        margin-top: 40px;
        display: block;
    }
    .reviews__item-full::after {
        height: 19px;
    }
    .reviews-btn__next {
        right: 5%;
    }
    .reviews-btn.mobile {
        display: block;
    }
}

@media(max-width: 767px) {
    .reviews {
        margin-top: 100px;
    }
    .reviews__info {
        max-width: 100%;
        padding-right: 30px;
    }
    .reviews-title {
        font-size: 28px;
        line-height: 30.8px;
    }
    .reviews-subtitle {
        display: none;
    }
    .reviews__wrapper {
        gap: 20px;
    }
    .reviews__item {
        width: 405px !important;
    }
    .reviews-swiper .reviews-btn {
        margin-top: 30px;
    }
    .reviews__item-company {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-align: end;
            -ms-flex-align: end;
                align-items: flex-end;
    }
    .reviews-btn__next {
        display: none;
    }
}

@media(max-width: 479px) {
    .reviews {
        margin-top: 30px;
    }
    .reviews__item {
        width: auto !important;
        max-width: 100%;
    }
    .reviews-swiper .reviews-btn {
        width: 100%;
        padding-right: 0;
        padding-left: 0;
    }
}

/* CONTACT SECTION */

.contact {
    margin-bottom: 120px;
    background: -o-linear-gradient(24.91deg, #15566E 8.13%, #12495E 91.54%);
    background: linear-gradient(65.09deg, #15566E 8.13%, #12495E 91.54%);
    padding: 60px 0 52px;
}

.contact__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 30px;
}

.contact__title {
    font-size: 50px;
    font-weight: 600;
    line-height: calc(55 / 50 * 100%);
    letter-spacing: 0.01em;
    color: #ffffff;
}

.contact__btn {
    padding-right: 80px;
    padding-left: 80px;
    margin-top: 56px;
}

@media(max-width: 1439px) {
    .contact {
        margin-bottom: 120px;
        padding: 50px 0;
    }
    .contact__wrapper {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        gap: 60px;
        text-align: center;
    }
    .contact__content {
        max-width: 70%;
    }
    .contact__title {
        font-size: 36px;
    }
}

@media(max-width: 999px) {
    .contact {
        margin-bottom: 100px;
    }
}

@media(max-width: 767px) {
    .contact {
        margin-bottom: 80px;
        padding: 40px 0;
    }
    .contact__wrapper {
        padding: 0 20px;
    }
    .contact__content {
        max-width: 100%;
    }
    .contact__btn {
        margin-top: 50px;
    }
}

@media(max-width: 767px) {
    .contact__title {
        font-size: 28px;
    }
    .contact__btn {
        padding-right: 0;
        padding-left: 0;
        width: 100%;
    }
    .contact__picture {
        height: 180px;
    }
}

/* FAQ SECTION */

.faq {
    margin-bottom: 120px;
}

.faq__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.faq-title {
    max-width: 35%;
    color: rgb(0, 0, 0);
    font-size: 24px;
    font-weight: 700;
    line-height: 150%;
}

.faq__blocks {
    max-width: 822px;
}

.faq__block {
    border-bottom: 1px solid #C1C1C1;
}

.faq__block:first-child .faq-question {
    padding-top: 0;
}

.faq-question {
    color: #000;
    font-size: 16px;
    font-weight: 500;
    line-height: 150%;
    padding: 20px 0;
    cursor: pointer;
    position: relative;
    padding-right: 30px;
}

.faq-question::after {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 24px;
    height: 24px;
    background: url(../img/icons/faq-open.svg) center / contain no-repeat;
}

.faq__block.active .faq-question::after {
    background: url('../img/icons/faq-close.svg') center / contain no-repeat;
}

.faq__block.flex .faq__answer {
    max-width: 95%;
}

.faq__answer {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 0;
    gap: 38px;
    max-width: 85%;
    opacity: 0;
    z-index: -1;
    -webkit-transition: .6s ease;
    -o-transition: .6s ease;
    transition: .6s ease;
}

.faq__block.active .faq__answer {
    opacity: 1;
    z-index: 1;
    margin-bottom: 20px;
}

.faq__answer__block {
    max-width: 50%;
}

.faq__answer-text {
    color: #4F4F4F;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
}

.faq__answer-stap {
    color: #828282;
    font-size: 16px;
    font-weight: 600;
    line-height: 150%;
    text-transform: uppercase;
}

.stap-3 {
    margin-top: 40px;
}

.faq__stores {
    margin-top: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 14px;
}

@media(max-width: 1339px) {
    .faq {
        margin-bottom: 100px;
    }
    .faq__wrapper {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        gap: 24px;
    }
    .faq-title {
        max-width: 75%;
    }
    .faq__blocks {
        max-width: 100%;
    }
}

@media (max-width: 767px) {
    .faq {
        margin-bottom: 80px;
    }
    .faq-title {
        max-width: 100%;
    }
    .faq__answer-text {
        font-size: 14px;
    }
    .faq__stores a img {
        max-width: 100%;
    }
}

@media(max-width: 479px) {
    .faq__answer-stap {
        font-size: 14px;
    }
    .faq__answer-text {
        font-size: 12px;
    }
}